@page
@model OnlineShop.Pages.Shared.ProductsModel
@using Microsoft.AspNetCore.Http;
@{
}
<h2>Welcome to my online shop</h2>
<p> @Model._custAccess.GetById((int)HttpContext.Session.GetInt32("CustomerId")).Name Which mobile would you like to buy?</p> 
<div class="container-fluid">
    <form asp-page-handler="Search">
        <div class="d-flex">
            <div class="input-group">
                <input class="form-control" asp-for="SearchTerm" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn dropdown-toggle" asp-page="/Order" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <form asp-page-handler="SortPriceUp" method="post">
                    <button type="submit" class="btn btn-primary">Sort By Lowest</button>
                </form>
                <form asp-page-handler="SortPriceDown" method="post">
                    <button type="submit" class="btn btn-primary">Sort By Highest</button>
                </form>
            </div>
        </div>
    </li>
    
    @foreach (var product in Model.Products.ToList())
    {

        <img class="card-img-top w-50" src="/Pictures/@product.ImagePath" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@product.ProductName</h5>
            <p class="card-text">@product.ProductDescription</p>
            <p class="card-text">Current Price: @product.Price:-</p>
            <form asp-page-handler="AddToCart" asp-page="/Shoppingcart" method="post">
                <input type="hidden" name="ProductId" value="@(product.ProductId)" />
                <button class="btn btn-primary" type="submit">Add to cart</button>
            </form>

        </div>
    }
</div>
